# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.log

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/
dist/

# idea
.idea
*.iml
*.ipr
*.iws

cmd/sponge/sponge
cmd/protoc-gen-go-gin/protoc-gen-go-gin
cmd/serverNameExample/serverNameExample
cmd/serverNameExample_grpcExample/serverNameExample_grpcExample
cmd/serverNameExample_gwExample/serverNameExample_gwExample
cmd/serverNameExample_httpExample/serverNameExample_httpExample
