# 主要用于release
# see: https://www.qikqiak.com/post/use-github-actions-build-go-app/
# https://goreleaser.com/
name: Release

on:
  push:
    tags:
      - v*

jobs:
  releases-matrix:
    name: Release goctl binary
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # build and publish in parallel: linux/386, linux/amd64, linux/arm64,
        # windows/386, windows/amd64, windows/arm64, darwin/amd64, darwin/arm64
        goos: [ linux, windows, darwin ]
        goarch: [ "386", amd64, arm64 ]
        exclude:
          - goarch: "386"
            goos: darwin
    steps:
      - uses: actions/checkout@v3
      - uses: zhufuyi/sponge@sponge
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          goos: ${{ matrix.goos }}
          goarch: ${{ matrix.goarch }}
          goversion: "https://dl.google.com/go/go1.19.linux-amd64.tar.gz"
          project_path: "./"
          binary_name: "sponge"
          extra_files: README.md